.contain {
  max-width: 1600px;
  line-height: 2.1em;
  margin-left: 10px;
}
@media screen and (max-width: 520px) {
  .two-col-width {
    width: 100%;
  }
}
@media screen and (min-width: 520px) and (max-width: 1280px) {
  .two-col-width {
    width: 33.33%;
  }
}
@media screen and (min-width: 1280px) {
  .two-col-width {
    width: 16.66%;
  }
}
@media screen and (max-width: 520px) {
  .four-col-width {
    width: 100%;
  }
}
@media screen and (min-width: 520px) and (max-width: 1280px) {
  .four-col-width {
    width: 66.66%;
  }
}
@media screen and (min-width: 1280px) {
  .four-col-width {
    width: 33.33%;
  }
}
@media screen and (max-width: 520px) {
  .six-col-width {
    width: 100%;
  }
}
@media screen and (min-width: 520px) and (max-width: 1280px) {
  .six-col-width {
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .six-col-width {
    width: 50%;
  }
}
.count {
  background-color: white;
  float: left;
}
@media screen and (max-width: 520px) {
  .count {
    width: 100%;
  }
}
@media screen and (min-width: 520px) and (max-width: 1280px) {
  .count {
    width: 33.33%;
  }
}
@media screen and (min-width: 1280px) {
  .count {
    width: 16.66%;
  }
}
.info {
  background-color: white;
  float: left;
}
@media screen and (max-width: 520px) {
  .info {
    width: 100%;
  }
}
@media screen and (min-width: 520px) and (max-width: 1280px) {
  .info {
    width: 66.66%;
  }
}
@media screen and (min-width: 1280px) {
  .info {
    width: 33.33%;
  }
}
.firstFileName {
  background-color: white;
  clear: both;
  float: left;
}
@media screen and (max-width: 520px) {
  .firstFileName {
    width: 100%;
  }
}
@media screen and (min-width: 520px) and (max-width: 1280px) {
  .firstFileName {
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .firstFileName {
    width: 50%;
  }
}
.fileNames {
  /*height: 100px;*/
  background-color: white;
  clear: both;
  float: left;
}
@media screen and (max-width: 520px) {
  .fileNames {
    width: 100%;
  }
}
@media screen and (min-width: 520px) and (max-width: 1280px) {
  .fileNames {
    width: 33.33%;
  }
}
@media screen and (min-width: 1280px) {
  .fileNames {
    width: 16.66%;
  }
}
.filters {
  background-color: white;
  float: left;
}
@media screen and (max-width: 520px) {
  .filters {
    width: 100%;
  }
}
@media screen and (min-width: 520px) and (max-width: 1280px) {
  .filters {
    width: 33.33%;
  }
}
@media screen and (min-width: 1280px) {
  .filters {
    width: 16.66%;
  }
}
.sortOptions {
  background-color: white;
  /*clear: both;*/
  float: left;
}
@media screen and (max-width: 520px) {
  .sortOptions {
    width: 100%;
  }
}
@media screen and (min-width: 520px) and (max-width: 1280px) {
  .sortOptions {
    width: 33.33%;
  }
}
@media screen and (min-width: 1280px) {
  .sortOptions {
    width: 16.66%;
  }
}
.titleDetails {
  /*height: 100px;*/
  background-color: white;
  clear: both;
  float: left;
}
@media screen and (max-width: 520px) {
  .titleDetails {
    width: 100%;
  }
}
@media screen and (min-width: 520px) and (max-width: 1280px) {
  .titleDetails {
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .titleDetails {
    width: 50%;
  }
}
li {
  line-height: 1.4em;
}
ul {
  margin-top: 2px;
  margin-bottom: 2px;
}
input,
select {
  margin-left: 5px;
}
